<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="triangle" class="la.random.spring.shapes.Triangle">
		<constructor-arg ref="origin" />
		<constructor-arg ref="diagnal" />
		<constructor-arg ref="base" />
	</bean>

	<bean id="circle" class="la.random.spring.shapes.Circle">
		<constructor-arg ref="origin" />
	</bean>


	<bean id="origin" class="la.random.spring.shapes.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="diagnal" class="la.random.spring.shapes.Point">
		<constructor-arg type="double" value="6" />
		<constructor-arg type="double" value="8" />
	</bean>

	<bean id="base" class="la.random.spring.shapes.Point">
		<constructor-arg index="0" value="6" />
		<constructor-arg index="1" value="0" />
	</bean>


</beans>
